- Roles ( CRUD )
- Employees ( CRUD )
- Products ( name , image )
- Services
- Profile
- Category ( Name )

الحسابات
    --
- projects
     -- Customer name
     -- project name
     -- start date
     -- end date
     -- duration

     -- material 1 , 2 , 3 ( one To Many Relation )

- materials
    -- material name , qty , price of one , unit (وحده القياس) ,


نظام الدفعات
    -- المشروع الفلاني يمشي بنظام الدفعه يعني كل مره دفعه من المبلع بتاريخ معين وتتطبع في الفاتوره للعميل

المصروفات

    -- انا جبت ماده معينه عدد منها معين للمشروع الفلاني في يوم معين
